<style>
	.content { width: 80%; text-align: justify; padding: 10px 20px;} h1 { padding:
	20px 20px; } p { padding: 5px 20px; }
</style>
<article style="padding:10px; margin:auto">
	<h1>{{blog.title}}</h1>
	<p>{{blog.author}}</p>
	<p class="content">{{blog.content}}</p>
</article>