  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,300&family=Open+Sans&family=Oxygen&family=Poppins:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      header{
  background-image:url(https://i.pinimg.com/originals/22/d4/15/22d4156a1d5ad637f31b6b99f6cb314a.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  margin:auto;
  box-shadow:0px 0px 10px #4f4e4c;
}
.icon-1{
  background-color:#333332;
  color:white;
  padding:0px 10px;
  font-size:30px;
}
.icon-1:hover{
  background-color:#5c5a56;
}
.nav-bars{
  margin-left:160px;
  margin-top:-15px;
  font-family: 'Poppins', sans-serif;
}
.nav-bars > a{
text-decoration:none;
  color:black;
  font-size:18px;
  padding:10px 15px;
}
.nav-bars > a:hover{
 color:green;
  text-shadow:5px 5px 10px 5px green;
}
.nav-2{
  float:right;
  margin-top:-30px;
  font-family: 'Poppins', sans-serif;
}
.nav-2 > a{
  text-decoration:none;
  padding:4px 10px;
  color:black;
  font-size:17px;
}
.nav-2 >a:hover{
  color:#224021;
}
.text > h2{
  font-size:50px;
  margin-left:60px;
  margin-top:80px;
  font-family: 'Open Sans', sans-serif;
}
.text > p{
  max-width:400px;
  height: 30vh;
  margin-left:60px;
  font-family: 'Karla', sans-serif;
}
hr{
  width:200px;
  height:3px;
  border-radius:10px;
  margin-left:60px;
  border-style:none;
  background-color:#5f855e;
}
.press{
  margin-top:20px;
  margin-left:50px;
}
.button{
  padding:10px 17px;
  margin-left:10px;
  border-style:solid;
  font-family: 'Oxygen', sans-serif;
}
.button:hover{
  background-color:#82d180;
}
  </style>
  <header>
    <div class="text">
    <h1 style="text-align: center;">Welcome to Bamboo Blogs!</h1>
      <h2>Tech Pandas... <br> get ready</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <hr><p>
    </div>
  </header>