<style>
	.mb-3 { margin: auto; padding: 10px 30px;}
</style>
<div class="mb-3">
	<h1>Post your own blog!</h1>
	<label for="exampleFormControlInput1" class="form-label">Blog title</label>
	<input
		type="email"
		class="form-control"
		id="exampleFormControlInput1"
		placeholder="enter your awesome title here 🎋"
	/>
</div>
<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Whats on your
		mind?</label>
	<textarea
		class="form-control"
		id="exampleFormControlTextarea1"
		rows="3"
	></textarea>
	<button
		type="button"
		class="btn btn-success"
		style="margin-top: 10px;"
	>Success</button>
</div>