<style>
	.mb-3 { margin: auto; padding: 10px 30px;} .btn {background-color: rgb(220,
	110, 61);} .btn-primary:hover {background-color: rgb(220, 110, 61);}
</style>
<form id="myForm">
	<div class="mb-3">
		<h1>Post your own blog!</h1>
		<label for="blog-title" class="form-label">Blog title</label>
		<input
			type="text"
			name="title"
			class="form-control"
			id="blog-title"
			placeholder="enter your awesome title here 🎋"
		/>
	</div>
	<div class="mb-3">
		<label for="blog-content" class="form-label">Whats on your mind?</label>
		<textarea class="form-control" id="blog-content" rows="3"></textarea>
		<label for="blog-category" class="form-label">Enter a category</label>
		<textarea class="form-control" id="blog-category" rows="1"></textarea>
		<label for="blog-author" class="form-label">Your name</label>
		<textarea
			class="form-control"
			id="blog-author"
			rows="1"
			cols="2"
		></textarea>
		<button
			id="Submit"
			type="Submit"
			class="btn btn-primary"
			style="margin-top: 10px;"
		>Submit</button>
	</div>

	<script>
		const myForm = document.getElementById("myForm");
		myForm.addEventListener("submit", (event) => { event.preventDefault(); const
		title = document.getElementById("blog-title").value; const blog =
		document.getElementById("blog-content").value; const category =
		document.getElementById("blog-category").value; const author =
		document.getElementById("blog-author").value; const data = { title: title,
		content: blog, date: new Date(), author: author, category: [category], };
		fetch("http://ak-lb-tf-1472356211.eu-west-1.elb.amazonaws.com/postData", {
		method: "POST", headers: { "Content-Type": "application/json" }, body:
		JSON.stringify(data), }).then((res) => { if (res.status === 201) {
		document.getElementById("Submit").innerHTML = "Posted!";
		document.getElementById("Submit").disabled = true;
		document.getElementById("Submit").class = "btn btn-success"; } }); });
	</script>
</form>